USERMAP_UID=1000
USERMAP_GID=1000
PAPERLESS_OCR_LANGUAGES=nld
PAPERLESS_SECRET_KEY=
PAPERLESS_TIME_ZONE=Europe/Amsterdam
PAPERLESS_OCR_LANGUAGE=nld
PAPERLESS_REDIS=redis://prd-paperless-broker:6379
PAPERLESS_DBHOST=prd-paperless-db
PAPERLESS_DBPORT=5432
PAPERLESS_DBNAME=paperless
PAPERLESS_DBUSER=paperless
PAPERLESS_DBPASS=
PAPERLESS_CONSUMER_POLLING=120
PAPERLESS_FILENAME_FORMAT={created_year}/{correspondent}/{title}